.skeletonRecipeDetailCard {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    animation: skeleton-loading 0.5s linear infinite alternate;

    &-img {
        width: 100%;
        height: 200px;
        background-color: var(--on-background);
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;

        &-text {
            width: 35%;
            background-color: var(--on-background);
            height: 100%;
        }

        &-btn {
            width: 40px;
            background-color: var(--on-background);
            height: 100%;
        }
    }

    &__ingr {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 4px;

        &-text {
            background-color: var(--on-background);
            width: 30%;
            height: 20px;
        }

        &-item {
            height: 10px;
            width: 60%;
            background-color: var(--on-background);
        }

        &.instruction &-item {
            width: 100%;
        }

        &.instruction {
            margin-top: 10px;
        }
    }
}

@keyframes skeleton-loading {
	0% {
		opacity: 0.2;
	}

	100% {
		opacity: 0.4;
	}
}

@media screen and (min-width: 768px) {
    .skeletonRecipeDetailCard {
        max-width: 650px;

        &-img {
            height: 300px;
        }

        &__title {
            height: 40px;
        }

        &__ingr-text {
            height: 25px;
        }

        &__ingr-item {
            height: 15px;
        }
    }
}